[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "*"
pandas = "*"
recommenders = {editable = true, path = "/Users/m0f0a4t/Documents/recommenders"}
pytorch-lightning = "*"
torchmetrics = "*"
tensorboard = "*"
tensorboardx = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.8"
