[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "==1.13.0"
pandas = "*"
recommenders = {editable = true, path = "/Users/m0f0a4t/Documents/recommenders"}
pytorch-lightning = "==1.9.3"
torchmetrics = "*"
tensorboard = "*"
tensorboardx = "*"
pyarrow = "*"
torcheval = "*"
dacite = "*"
OmegaConf = "*"

[dev-packages]

[requires]
python_version = "3.8"
